.bg-content{
    background-color: rgb(211, 197, 197);
  }

.blue-color{
    color: #0F056B !important;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #413894;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(65, 56, 148, 0.5), rgba(9, 2, 90, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(65, 56, 148, 0.5), rgba(9, 2, 90, 0.5))
}